.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0 auto;
}

.cat {
  width: 400px;
  height: 200px;
  margin: 10rem 0 auto;
}

.catwalk {
  animation: walkAnimation 1s steps(12), sitAnimation 0.5s 1s steps(6) forwards;
  background: url("/Assets/catpng.png") 0 0 no-repeat;
}

@keyframes walkAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -2376px;
  }
}

@keyframes sitAnimation {
  from {
    background-position: -400px 0;
  }
  to {
    background-position: -400px -1200px;
  }
}
